---
import '../styles/global.css'
import config from "../siteDetails.json"
import Navigation from "./Navigation.astro"
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>{config.name}</title>
	</head>
	<body>
		<Navigation />
		<main>
			<slot />
		</main>
	</body>
</html>
